LOCATE COMP "J6_1" SITE "K16";
IOBUF PORT "J6_1" IO_TYPE=LVCMOS33;

LOCATE COMP "J6_2" SITE "J15";
IOBUF PORT "J6_2" IO_TYPE=LVCMOS33;

LOCATE COMP "led" SITE "P11";
IOBUF PORT "led" IO_TYPE=LVCMOS33;
