//CONSTRAINTS/LPF-FILE FOR YOSYS/NEXTPNR FOR SDRAM (x2) ON 5A-75B V7.0(!)
//Licence of this file: CC0
//written by kittennbfive - NO WARRANTY!

//--not connected to SDRAM but needed/useful--

//FIXED CLOCK IN
LOCATE COMP "clk_25M" SITE "P6";
IOBUF PORT "clk_25M" IO_TYPE=LVCMOS33;

//FIXED BTN
LOCATE COMP "btn" SITE "M13";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

//--actual SDRAM-stuff--

//DATA IN-OUT U29
LOCATE COMP "DQ29[0]" SITE "B13";
LOCATE COMP "DQ29[1]" SITE "C11";
LOCATE COMP "DQ29[2]" SITE "C10";
LOCATE COMP "DQ29[3]" SITE "A11";
LOCATE COMP "DQ29[4]" SITE "C9";
LOCATE COMP "DQ29[5]" SITE "E8";
LOCATE COMP "DQ29[6]" SITE "B6";
LOCATE COMP "DQ29[7]" SITE "B9";
LOCATE COMP "DQ29[8]" SITE "A6";
LOCATE COMP "DQ29[9]" SITE "B5";
LOCATE COMP "DQ29[10]" SITE "A5";
LOCATE COMP "DQ29[11]" SITE "B4";
LOCATE COMP "DQ29[12]" SITE "B3";
LOCATE COMP "DQ29[13]" SITE "C3";
LOCATE COMP "DQ29[14]" SITE "A2";
LOCATE COMP "DQ29[15]" SITE "B2";

IOBUF PORT "DQ29[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ29[15]" IO_TYPE=LVCMOS33;


//DATA IN-OUT U32
LOCATE COMP "DQ32[0]" SITE "E2";
LOCATE COMP "DQ32[1]" SITE "D3";
LOCATE COMP "DQ32[2]" SITE "A4";
LOCATE COMP "DQ32[3]" SITE "E4";
LOCATE COMP "DQ32[4]" SITE "D4";
LOCATE COMP "DQ32[5]" SITE "C4";
LOCATE COMP "DQ32[6]" SITE "E5";
LOCATE COMP "DQ32[7]" SITE "D5";
LOCATE COMP "DQ32[8]" SITE "E6";
LOCATE COMP "DQ32[9]" SITE "D6";
LOCATE COMP "DQ32[10]" SITE "D8";
LOCATE COMP "DQ32[11]" SITE "A8";
LOCATE COMP "DQ32[12]" SITE "B8";
LOCATE COMP "DQ32[13]" SITE "B10";
LOCATE COMP "DQ32[14]" SITE "B11";
LOCATE COMP "DQ32[15]" SITE "E11";

IOBUF PORT "DQ32[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "DQ32[15]" IO_TYPE=LVCMOS33;


//ADDR IN U29+U32
LOCATE COMP "A[0]" SITE "A9";
LOCATE COMP "A[1]" SITE "E10";
LOCATE COMP "A[2]" SITE "B12";
LOCATE COMP "A[3]" SITE "D13";
LOCATE COMP "A[4]" SITE "C12";
LOCATE COMP "A[5]" SITE "D11";
LOCATE COMP "A[6]" SITE "D10";
LOCATE COMP "A[7]" SITE "E9";
LOCATE COMP "A[8]" SITE "D9";
LOCATE COMP "A[9]" SITE "B7";
LOCATE COMP "A[10]" SITE "C8";

IOBUF PORT "A[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "A[10]" IO_TYPE=LVCMOS33;


//BANK SELECT ADDR U29+U32
LOCATE COMP "BA" SITE "A7";
IOBUF PORT "BA" IO_TYPE=LVCMOS33;

//CLOCK U29+U32
LOCATE COMP "CLK" SITE "C6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

//ROW ADDR STROBE U29+U32
LOCATE COMP "RAS" SITE "D7";
IOBUF PORT "RAS" IO_TYPE=LVCMOS33;

//COLUMN ADDR STROBE U29+U32
LOCATE COMP "CAS" SITE "E7";
IOBUF PORT "CAS" IO_TYPE=LVCMOS33;

//WRITE ENABLE U29+U32
LOCATE COMP "WE" SITE "C7";
IOBUF PORT "WE" IO_TYPE=LVCMOS33;


//LDQM are connected to GND
//UDQM are connected to GND
//CKE are connected to 3.3V
//CS are connected to GND
